.gt_container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
}

.form_container {
  width: 40%;
  margin-top: 3%;
}

.formsLayout {
  height: 65vh;
  overflow-y: auto;
  padding-right: 1rem;
  gap: 0.5rem;
}

.layout_textField {
  flex-grow: 1;
  input[type="file"] {
    align-self: center;
  }
}

.preview {
  border: none;
  width: 55%;
}

.page_seperator {
  height: 90vh;
  align-self: center;
  &::after {
    background-color: grey;
  }
}
