$color_1: black;
$color_2: rgb(96, 94, 92);

.prototypes-main-section {
  padding: 16px 42px;
  width: 100%;
  vertical-align: middle;
  background: transparent
    linear-gradient(
      0deg,
      rgba(211, 231, 240, 0.0196078) 0%,
      rgba(171, 209, 222, 0.52549) 100%
    );
}
.prototype-de-section {
  padding: 16px 42px;
  width: 100%;
  vertical-align: middle;
  background: transparent
    linear-gradient(
      0deg,
      rgba(211, 231, 240, 0.0196078) 0%,
      rgba(171, 209, 222, 0.52549) 100%
    );
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}
.link-container {
  color: $color_1;
  text-decoration: none;
  min-width: 275px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex: 0 0 0%;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 20px 50px 0 rgba(28, 9, 80, 0.07);
  background: rgb(255, 255, 255);
  border-radius: 10px;
  &:hover {
    color: $color_1;
    text-decoration: none;
    transition: transform 0.25s ease 0s, box-shadow 0.25s ease 0s;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
.card-sub-heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.ools-card-sub-heading {
  font-size: 14px;
  font-weight: 500px;
  line-height: 27px;
}
.card-link-label {
  font-size: 18px;
  padding-bottom: 10px;
}
.dashed-line {
  opacity: 0.3;
  border: 1px dashed #a19f9d;
  height: 0px;
  flex: 1;
  margin: 15px auto;
}
.card-initiative {
  color: $color_2;
  font-size: 14px;
}
.category-pills {
  div {
    .ms-Button {
      padding: 0 36px;
      border-radius: 25px;
      margin: 0 5px;
      font-size: 14px;
      background: rgba(255, 255, 255, 0.525);
      color: $color_1;
      border: 1px solid rgba(255, 255, 255, 0.525);
      &:hover {
        background: rgba(171, 209, 222, 0.52549);
        color: $color_1;
        border: 1px solid rgba(171, 209, 222, 0.52549);
      }
    }
    .ms-Button.is-selected {
      background: rgba(171, 209, 222, 0.52549);
      color: $color_1;
      border: 1px solid rgba(171, 209, 222, 0.52549);
      cursor: default;
    }
  }
}
.main-card {
  padding: 20px;
}
.flex-sub-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.card-sub-section {
  padding-right: 10px;
  border-right: 1px solid rgb(96, 94, 92);
}
.segments-heading {
  margin: 24px 0;
}
