// Colors

$bl_resultBodyColor: #f5f5f5;
$bl-whiteColor: #FFF; 
$bl-extraLightGrayColor: #dddddd;
$bl-brandTealColor: #00809d; // brand teal 
$bl-darkestGrayColor: #111;
$bl-reviewCardTextColor: #444;
$bl-cardButtonBGColor: #f7f9f8;
$bl-reviewCardDescColor: #666666;
$bl-reviewcardTextColor: #888;
$bl-headerNavBorder: #ececec;
$bl-linkTextColor:#001ba0;
$bl-pageResultBoxShadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);
$bl-cardBoxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
$bl-cardTopBoxShadow: 0 -1px 1px -1px rgba(0, 0, 0, 0.15);
$bl-carousalCardBoxShadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.26);



// Font faces
$bl-bodyFontFamily: 'Segoe UI',Arial,Helvetica,Sans-Serif;
$bl-scopeFontFamily: Arial,Helvetica,Sans-Serif;
$bl-semiboldFontFamily: 'Segoe UI Semibold', 'Segoe UI', Arial, Helvetica, Sans-Serif;
$bl-promotedFontWeight: bold;
$bl-boldFontWeight: 600;

// Font
$bl-standardTextFontSize: 13px;
$bl-titleFontSize: 20px;
$bl-subtitleFontSize: 16px;
$bl-focusFontSize: 18px;

// Font Line Heights
$bl-standardTextLineHeight: 17px;
$bl-titleLineHeight: 22px;
$bl-subTitleLineHeight: 20px;
$bl-focusPriceLineHeight: 28px;

//Width
$bl-pageTitleWidth: 168px;
$bl-layoutWidth: calc(100% - 200px); // layout left right padding (120+80) $bl-layoutPadding
$bl-contentMaxWidth: 1186px;


//Heights
$bl-pageHeaderHeight: 120px;
$bl-pageTitleHeight: 27px;

//Padding
$bl-layoutPadding: 0 80px 0 120px;;
$bl-pageHeaderPaddingTop: 24px;
$bl-pageTitleMarginBottom: 38px;

$bl-margin-bottom: 20px;
$bl-padding-bottom: 12px;


