/* Olympics 2016 Country Flags sprite handling */

.sp-flags15x10 {
    background: url(../img/flags15x10.png) no-repeat left top;
    width: 15px;
    height: 10px;
}

.sp-flags21x14 {
    background: url(../img/flags21x14.png) no-repeat left top;
    width: 21px;
    height: 14px;
}

.sp-flags30x20 {
    background: url(../img/flags30x20.png) no-repeat left top;
    width: 30px;
    height: 20px;
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) 
{
    .sp-flags15x10 {
        background-image: url(../img/flags15x10-2X.png);
        background-size: 253px 166px;
    }

    .sp-flags21x14 {
        background-image: url(../img/flags21x14-2X.png);
        background-size: 343px 222px;
   }

    .sp-flags30x20 {
        background-image: url(../img/flags30x20-2X.png);
        background-size: 477px 306px;
    }
}

@media (-webkit-min-device-pixel-ratio: 3),(min-resolution: 288dpi) 
{
    .sp-flags15x10 {
        background-image: url(../img/flags15x10-3X.png);
        background-size: 253px 166px;
    }

    .sp-flags21x14 {
        background-image: url(../img/flags21x14-3X.png);
        background-size: 343px 222px;
   }
}

.sp-flags15x10.USA { background-position: -17px 0; }
.sp-flags15x10.CHN { background-position: -34px 0; }
.sp-flags15x10.GBR { background-position: -51px 0; }
.sp-flags15x10.RUS { background-position: -68px 0; }
.sp-flags15x10.KOR { background-position: -85px 0; }
.sp-flags15x10.DEU { background-position: -102px 0; }
.sp-flags15x10.FRA { background-position: -119px 0; }
.sp-flags15x10.ITA { background-position: -136px 0; }
.sp-flags15x10.ASM { background-position: -153px 0; }
.sp-flags15x10.AGO { background-position: -170px 0; }
.sp-flags15x10.ATG { background-position: -187px 0; }
.sp-flags15x10.EGY { background-position: -204px 0; }
.sp-flags15x10.ARG { background-position: -221px 0; }
.sp-flags15x10.ABW { background-position: -238px 0; }
.sp-flags15x10.BHS { background-position: 0 -12px; }
.sp-flags15x10.BGD { background-position: -17px -12px; }
.sp-flags15x10.BRB { background-position: -34px -12px; }
.sp-flags15x10.BLZ { background-position: -51px -12px; }
.sp-flags15x10.BMU { background-position: -68px -12px; }
.sp-flags15x10.BTN { background-position: -85px -12px; }
.sp-flags15x10.VEN { background-position: -102px -12px; }
.sp-flags15x10.BIH { background-position: -119px -12px; }
.sp-flags15x10.BWA { background-position: -136px -12px; }
.sp-flags15x10.BHR { background-position: -153px -12px; }
.sp-flags15x10.BRN { background-position: -170px -12px; }
.sp-flags15x10.BGR { background-position: -187px -12px; }
.sp-flags15x10.BFA { background-position: -204px -12px; }
.sp-flags15x10.KHM { background-position: -221px -12px; }
.sp-flags15x10.CAN { background-position: -238px -12px; }
.sp-flags15x10.CYM { background-position: 0 -24px; }
.sp-flags15x10.CAF { background-position: -17px -24px; }
.sp-flags15x10.TCD { background-position: -34px -24px; }
.sp-flags15x10.CHL { background-position: -51px -24px; }
.sp-flags15x10.TPE { background-position: -68px -24px; }
.sp-flags15x10.AUS { background-position: -85px -24px; }
.sp-flags15x10.DMA { background-position: -102px -24px; }
.sp-flags15x10.COG { background-position: -119px -24px; }
.sp-flags15x10.COK { background-position: -136px -24px; }
.sp-flags15x10.GUY { background-position: -153px -24px; }
.sp-flags15x10.CRI { background-position: -170px -24px; }
.sp-flags15x10.HRV { background-position: -187px -24px; }
.sp-flags15x10.CZE { background-position: -204px -24px; }
.sp-flags15x10.PRK { background-position: -221px -24px; }
.sp-flags15x10.STP { background-position: -238px -24px; }
.sp-flags15x10.COD { background-position: 0 -36px; }
.sp-flags15x10.TLS { background-position: -17px -36px; }
.sp-flags15x10.DNK { background-position: -34px -36px; }
.sp-flags15x10.DOM { background-position: -51px -36px; }
.sp-flags15x10.SLV { background-position: -68px -36px; }
.sp-flags15x10.GNQ { background-position: -85px -36px; }
.sp-flags15x10.ETH { background-position: -102px -36px; }
.sp-flags15x10.SOM { background-position: -119px -36px; }
.sp-flags15x10.FSM { background-position: -136px -36px; }
.sp-flags15x10.BRA { background-position: -153px -36px; }
.sp-flags15x10.FJI { background-position: -170px -36px; }
.sp-flags15x10.GAB { background-position: -187px -36px; }
.sp-flags15x10.GMB { background-position: -204px -36px; }
.sp-flags15x10.GEO { background-position: -221px -36px; }
.sp-flags15x10.LUX { background-position: -238px -36px; }
.sp-flags15x10.GRC { background-position: 0 -48px; }
.sp-flags15x10.GRD { background-position: -17px -48px; }
.sp-flags15x10.GTM { background-position: -34px -48px; }
.sp-flags15x10.GIN { background-position: -51px -48px; }
.sp-flags15x10.GNB { background-position: -68px -48px; }
.sp-flags15x10.HTI { background-position: -85px -48px; }
.sp-flags15x10.JOR { background-position: -102px -48px; }
.sp-flags15x10.HND { background-position: -119px -48px; }
.sp-flags15x10.HKG { background-position: -136px -48px; }
.sp-flags15x10.HUN { background-position: -153px -48px; }
.sp-flags15x10.PNG { background-position: -170px -48px; }
.sp-flags15x10.IOA { background-position: -187px -48px; }
.sp-flags15x10.ROA { background-position: -187px -48px; }
.sp-flags15x10.ROT { background-position: -187px -48px; }
.sp-flags15x10.IDN { background-position: -204px -48px; }
.sp-flags15x10.IRL { background-position: -221px -48px; }
.sp-flags15x10.AFG { background-position: -238px -48px; }
.sp-flags15x10.IRN { background-position: 0 -60px; }
.sp-flags15x10.PAK { background-position: -17px -60px; }
.sp-flags15x10.JAM { background-position: -34px -60px; }
.sp-flags15x10.JPN { background-position: -51px -60px; }
.sp-flags15x10.BEL { background-position: -68px -60px; }
.sp-flags15x10.MAR { background-position: -85px -60px; }
.sp-flags15x10.NOR { background-position: -102px -60px; }
.sp-flags15x10.ESP { background-position: -119px -60px; }
.sp-flags15x10.SWZ { background-position: -136px -60px; }
.sp-flags15x10.SWE { background-position: -153px -60px; }
.sp-flags15x10.THA { background-position: -170px -60px; }
.sp-flags15x10.KOS { background-position: -187px -60px; }
.sp-flags15x10.KWT { background-position: -204px -60px; }
.sp-flags15x10.KGZ { background-position: -221px -60px; }
.sp-flags15x10.LAO { background-position: -238px -60px; }
.sp-flags15x10.LVA { background-position: 0 -72px; }
.sp-flags15x10.LBN { background-position: -17px -72px; }
.sp-flags15x10.LSO { background-position: -34px -72px; }
.sp-flags15x10.LBY { background-position: -51px -72px; }
.sp-flags15x10.MDG { background-position: -68px -72px; }
.sp-flags15x10.MWI { background-position: -85px -72px; }
.sp-flags15x10.MYS { background-position: -102px -72px; }
.sp-flags15x10.MRT { background-position: -119px -72px; }
.sp-flags15x10.MUS { background-position: -136px -72px; }
.sp-flags15x10.MCO { background-position: -153px -72px; }
.sp-flags15x10.MNG { background-position: -170px -72px; }
.sp-flags15x10.MNE { background-position: -187px -72px; }
.sp-flags15x10.MMR { background-position: -204px -72px; }
.sp-flags15x10.NPL { background-position: -221px -72px; }
.sp-flags15x10.NLD { background-position: -238px -72px; }
.sp-flags15x10.NZL { background-position: 0 -84px; }
.sp-flags15x10.NIC { background-position: -17px -84px; }
.sp-flags15x10.NER { background-position: -34px -84px; }
.sp-flags15x10.NGA { background-position: -51px -84px; }
.sp-flags15x10.OMN { background-position: -68px -84px; }
.sp-flags15x10.PSE { background-position: -85px -84px; }
.sp-flags15x10.PRY { background-position: -102px -84px; }
.sp-flags15x10.PHL { background-position: -119px -84px; }
.sp-flags15x10.BOL { background-position: -136px -84px; }
.sp-flags15x10.PRT { background-position: -153px -84px; }
.sp-flags15x10.AND { background-position: -170px -84px; }
.sp-flags15x10.LIE { background-position: -187px -84px; }
.sp-flags15x10.PRI { background-position: -204px -84px; }
.sp-flags15x10.ALB { background-position: -221px -84px; }
.sp-flags15x10.ARM { background-position: -238px -84px; }
.sp-flags15x10.AUT { background-position: 0 -96px; }
.sp-flags15x10.AZE { background-position: -17px -96px; }
.sp-flags15x10.BLR { background-position: -34px -96px; }
.sp-flags15x10.BEN { background-position: -51px -96px; }
.sp-flags15x10.BDI { background-position: -68px -96px; }
.sp-flags15x10.CPV { background-position: -85px -96px; }
.sp-flags15x10.CMR { background-position: -102px -96px; }
.sp-flags15x10.COL { background-position: -119px -96px; }
.sp-flags15x10.CIV { background-position: -136px -96px; }
.sp-flags15x10.CUB { background-position: -153px -96px; }
.sp-flags15x10.CYP { background-position: -170px -96px; }
.sp-flags15x10.DJI { background-position: -187px -96px; }
.sp-flags15x10.ECU { background-position: -204px -96px; }
.sp-flags15x10.EST { background-position: -221px -96px; }
.sp-flags15x10.FIN { background-position: -238px -96px; }
.sp-flags15x10.GHA { background-position: 0 -108px; }
.sp-flags15x10.ISL { background-position: -17px -108px; }
.sp-flags15x10.IND { background-position: -34px -108px; }
.sp-flags15x10.IRQ { background-position: -51px -108px; }
.sp-flags15x10.KAZ { background-position: -68px -108px; }
.sp-flags15x10.KEN { background-position: -85px -108px; }
.sp-flags15x10.KIR { background-position: -102px -108px; }
.sp-flags15x10.LBR { background-position: -119px -108px; }
.sp-flags15x10.LTU { background-position: -136px -108px; }
.sp-flags15x10.MKD { background-position: -153px -108px; }
.sp-flags15x10.MDV { background-position: -170px -108px; }
.sp-flags15x10.MLI { background-position: -187px -108px; }
.sp-flags15x10.MLT { background-position: -204px -108px; }
.sp-flags15x10.MDA { background-position: -221px -108px; }
.sp-flags15x10.MOZ { background-position: -238px -108px; }
.sp-flags15x10.NAM { background-position: 0 -120px; }
.sp-flags15x10.NRU { background-position: -17px -120px; }
.sp-flags15x10.PLW { background-position: -34px -120px; }
.sp-flags15x10.PAN { background-position: -51px -120px; }
.sp-flags15x10.PER { background-position: -68px -120px; }
.sp-flags15x10.POL { background-position: -85px -120px; }
.sp-flags15x10.RWA { background-position: -102px -120px; }
.sp-flags15x10.SMR { background-position: -119px -120px; }
.sp-flags15x10.SEN { background-position: -136px -120px; }
.sp-flags15x10.SRB { background-position: -153px -120px; }
.sp-flags15x10.SLE { background-position: -170px -120px; }
.sp-flags15x10.SUR { background-position: -187px -120px; }
.sp-flags15x10.TJK { background-position: -204px -120px; }
.sp-flags15x10.MHL { background-position: -221px -120px; }
.sp-flags15x10.TTO { background-position: -238px -120px; }
.sp-flags15x10.TUR { background-position: 0 -132px; }
.sp-flags15x10.UGA { background-position: -17px -132px; }
.sp-flags15x10.UZB { background-position: -34px -132px; }
.sp-flags15x10.YEM { background-position: -51px -132px; }
.sp-flags15x10.ROU { background-position: -68px -132px; }
.sp-flags15x10.KNA { background-position: -85px -132px; }
.sp-flags15x10.LCA { background-position: -102px -132px; }
.sp-flags15x10.WSM { background-position: -119px -132px; }
.sp-flags15x10.SAU { background-position: -136px -132px; }
.sp-flags15x10.SYC { background-position: -153px -132px; }
.sp-flags15x10.SGP { background-position: -170px -132px; }
.sp-flags15x10.SVK { background-position: -187px -132px; }
.sp-flags15x10.SVN { background-position: -204px -132px; }
.sp-flags15x10.SLB { background-position: -221px -132px; }
.sp-flags15x10.ZAF { background-position: -238px -132px; }
.sp-flags15x10.LKA { background-position: 0 -144px; }
.sp-flags15x10.VCT { background-position: -17px -144px; }
.sp-flags15x10.ERI { background-position: -34px -144px; }
.sp-flags15x10.ISR { background-position: -51px -144px; }
.sp-flags15x10.QAT { background-position: -68px -144px; }
.sp-flags15x10.SDN { background-position: -85px -144px; }
.sp-flags15x10.CHE { background-position: -102px -144px; }
.sp-flags15x10.SYR { background-position: -119px -144px; }
.sp-flags15x10.GUM { background-position: -136px -144px; }
.sp-flags15x10.TGO { background-position: -153px -144px; }
.sp-flags15x10.TON { background-position: -170px -144px; }
.sp-flags15x10.TUN { background-position: -187px -144px; }
.sp-flags15x10.TKM { background-position: -204px -144px; }
.sp-flags15x10.TUV { background-position: -221px -144px; }
.sp-flags15x10.UKR { background-position: -238px -144px; }
.sp-flags15x10.COM { background-position: 0 -156px; }
.sp-flags15x10.ARE { background-position: -17px -156px; }
.sp-flags15x10.MEX { background-position: -34px -156px; }
.sp-flags15x10.TZA { background-position: -51px -156px; }
.sp-flags15x10.URY { background-position: -68px -156px; }
.sp-flags15x10.VUT { background-position: -85px -156px; }
.sp-flags15x10.VNM { background-position: -102px -156px; }
.sp-flags15x10.VGB { background-position: -119px -156px; }
.sp-flags15x10.VIR { background-position: -136px -156px; }
.sp-flags15x10.ZMB { background-position: -153px -156px; }
.sp-flags15x10.ZWE { background-position: -170px -156px; }
.sp-flags15x10.DZA { background-position: -187px -156px; }

.sp-flags21x14.USA { background-position: -23px 0; }
.sp-flags21x14.CHN { background-position: -46px 0; }
.sp-flags21x14.GBR { background-position: -69px 0; }
.sp-flags21x14.RUS { background-position: -92px 0; }
.sp-flags21x14.KOR { background-position: -115px 0; }
.sp-flags21x14.DEU { background-position: -138px 0; }
.sp-flags21x14.FRA { background-position: -161px 0; }
.sp-flags21x14.ITA { background-position: -184px 0; }
.sp-flags21x14.ASM { background-position: -207px 0; }
.sp-flags21x14.AGO { background-position: -230px 0; }
.sp-flags21x14.ATG { background-position: -253px 0; }
.sp-flags21x14.EGY { background-position: -276px 0; }
.sp-flags21x14.ARG { background-position: -299px 0; }
.sp-flags21x14.ABW { background-position: -322px 0; }
.sp-flags21x14.BHS { background-position: 0 -16px; }
.sp-flags21x14.BGD { background-position: -23px -16px; }
.sp-flags21x14.BRB { background-position: -46px -16px; }
.sp-flags21x14.BLZ { background-position: -69px -16px; }
.sp-flags21x14.BMU { background-position: -92px -16px; }
.sp-flags21x14.BTN { background-position: -115px -16px; }
.sp-flags21x14.VEN { background-position: -138px -16px; }
.sp-flags21x14.BIH { background-position: -161px -16px; }
.sp-flags21x14.BWA { background-position: -184px -16px; }
.sp-flags21x14.BHR { background-position: -207px -16px; }
.sp-flags21x14.BRN { background-position: -230px -16px; }
.sp-flags21x14.BGR { background-position: -253px -16px; }
.sp-flags21x14.BFA { background-position: -276px -16px; }
.sp-flags21x14.KHM { background-position: -299px -16px; }
.sp-flags21x14.CAN { background-position: -322px -16px; }
.sp-flags21x14.CYM { background-position: 0 -32px; }
.sp-flags21x14.CAF { background-position: -23px -32px; }
.sp-flags21x14.TCD { background-position: -46px -32px; }
.sp-flags21x14.CHL { background-position: -69px -32px; }
.sp-flags21x14.TPE { background-position: -92px -32px; }
.sp-flags21x14.AUS { background-position: -115px -32px; }
.sp-flags21x14.DMA { background-position: -138px -32px; }
.sp-flags21x14.COG { background-position: -161px -32px; }
.sp-flags21x14.COK { background-position: -184px -32px; }
.sp-flags21x14.GUY { background-position: -207px -32px; }
.sp-flags21x14.CRI { background-position: -230px -32px; }
.sp-flags21x14.HRV { background-position: -253px -32px; }
.sp-flags21x14.CZE { background-position: -276px -32px; }
.sp-flags21x14.PRK { background-position: -299px -32px; }
.sp-flags21x14.STP { background-position: -322px -32px; }
.sp-flags21x14.COD { background-position: 0 -48px; }
.sp-flags21x14.TLS { background-position: -23px -48px; }
.sp-flags21x14.DNK { background-position: -46px -48px; }
.sp-flags21x14.DOM { background-position: -69px -48px; }
.sp-flags21x14.SLV { background-position: -92px -48px; }
.sp-flags21x14.GNQ { background-position: -115px -48px; }
.sp-flags21x14.ETH { background-position: -138px -48px; }
.sp-flags21x14.SOM { background-position: -161px -48px; }
.sp-flags21x14.FSM { background-position: -184px -48px; }
.sp-flags21x14.BRA { background-position: -207px -48px; }
.sp-flags21x14.FJI { background-position: -230px -48px; }
.sp-flags21x14.GAB { background-position: -253px -48px; }
.sp-flags21x14.GMB { background-position: -276px -48px; }
.sp-flags21x14.GEO { background-position: -299px -48px; }
.sp-flags21x14.LUX { background-position: -322px -48px; }
.sp-flags21x14.GRC { background-position: 0 -64px; }
.sp-flags21x14.GRD { background-position: -23px -64px; }
.sp-flags21x14.GTM { background-position: -46px -64px; }
.sp-flags21x14.GIN { background-position: -69px -64px; }
.sp-flags21x14.GNB { background-position: -92px -64px; }
.sp-flags21x14.HTI { background-position: -115px -64px; }
.sp-flags21x14.JOR { background-position: -138px -64px; }
.sp-flags21x14.HND { background-position: -161px -64px; }
.sp-flags21x14.HKG { background-position: -184px -64px; }
.sp-flags21x14.HUN { background-position: -207px -64px; }
.sp-flags21x14.PNG { background-position: -230px -64px; }
.sp-flags21x14.IOA { background-position: -253px -64px; }
.sp-flags21x14.ROA { background-position: -253px -64px; }
.sp-flags21x14.ROT { background-position: -253px -64px; }
.sp-flags21x14.IDN { background-position: -276px -64px; }
.sp-flags21x14.IRL { background-position: -299px -64px; }
.sp-flags21x14.AFG { background-position: -322px -64px; }
.sp-flags21x14.IRN { background-position: 0 -80px; }
.sp-flags21x14.PAK { background-position: -23px -80px; }
.sp-flags21x14.JAM { background-position: -46px -80px; }
.sp-flags21x14.JPN { background-position: -69px -80px; }
.sp-flags21x14.BEL { background-position: -92px -80px; }
.sp-flags21x14.MAR { background-position: -115px -80px; }
.sp-flags21x14.NOR { background-position: -138px -80px; }
.sp-flags21x14.ESP { background-position: -161px -80px; }
.sp-flags21x14.SWZ { background-position: -184px -80px; }
.sp-flags21x14.SWE { background-position: -207px -80px; }
.sp-flags21x14.THA { background-position: -230px -80px; }
.sp-flags21x14.KOS { background-position: -253px -80px; }
.sp-flags21x14.KWT { background-position: -276px -80px; }
.sp-flags21x14.KGZ { background-position: -299px -80px; }
.sp-flags21x14.LAO { background-position: -322px -80px; }
.sp-flags21x14.LVA { background-position: 0 -96px; }
.sp-flags21x14.LBN { background-position: -23px -96px; }
.sp-flags21x14.LSO { background-position: -46px -96px; }
.sp-flags21x14.LBY { background-position: -69px -96px; }
.sp-flags21x14.MDG { background-position: -92px -96px; }
.sp-flags21x14.MWI { background-position: -115px -96px; }
.sp-flags21x14.MYS { background-position: -138px -96px; }
.sp-flags21x14.MRT { background-position: -161px -96px; }
.sp-flags21x14.MUS { background-position: -184px -96px; }
.sp-flags21x14.MCO { background-position: -207px -96px; }
.sp-flags21x14.MNG { background-position: -230px -96px; }
.sp-flags21x14.MNE { background-position: -253px -96px; }
.sp-flags21x14.MMR { background-position: -276px -96px; }
.sp-flags21x14.NPL { background-position: -299px -96px; }
.sp-flags21x14.NLD { background-position: -322px -96px; }
.sp-flags21x14.NZL { background-position: 0 -112px; }
.sp-flags21x14.NIC { background-position: -23px -112px; }
.sp-flags21x14.NER { background-position: -46px -112px; }
.sp-flags21x14.NGA { background-position: -69px -112px; }
.sp-flags21x14.OMN { background-position: -92px -112px; }
.sp-flags21x14.PSE { background-position: -115px -112px; }
.sp-flags21x14.PRY { background-position: -138px -112px; }
.sp-flags21x14.PHL { background-position: -161px -112px; }
.sp-flags21x14.BOL { background-position: -184px -112px; }
.sp-flags21x14.PRT { background-position: -207px -112px; }
.sp-flags21x14.AND { background-position: -230px -112px; }
.sp-flags21x14.LIE { background-position: -253px -112px; }
.sp-flags21x14.PRI { background-position: -276px -112px; }
.sp-flags21x14.ALB { background-position: -299px -112px; }
.sp-flags21x14.ARM { background-position: -322px -112px; }
.sp-flags21x14.AUT { background-position: 0 -128px; }
.sp-flags21x14.AZE { background-position: -23px -128px; }
.sp-flags21x14.BLR { background-position: -46px -128px; }
.sp-flags21x14.BEN { background-position: -69px -128px; }
.sp-flags21x14.BDI { background-position: -92px -128px; }
.sp-flags21x14.CPV { background-position: -115px -128px; }
.sp-flags21x14.CMR { background-position: -138px -128px; }
.sp-flags21x14.COL { background-position: -161px -128px; }
.sp-flags21x14.CIV { background-position: -184px -128px; }
.sp-flags21x14.CUB { background-position: -207px -128px; }
.sp-flags21x14.CYP { background-position: -230px -128px; }
.sp-flags21x14.DJI { background-position: -253px -128px; }
.sp-flags21x14.ECU { background-position: -276px -128px; }
.sp-flags21x14.EST { background-position: -299px -128px; }
.sp-flags21x14.FIN { background-position: -322px -128px; }
.sp-flags21x14.GHA { background-position: 0 -144px; }
.sp-flags21x14.ISL { background-position: -23px -144px; }
.sp-flags21x14.IND { background-position: -46px -144px; }
.sp-flags21x14.IRQ { background-position: -69px -144px; }
.sp-flags21x14.KAZ { background-position: -92px -144px; }
.sp-flags21x14.KEN { background-position: -115px -144px; }
.sp-flags21x14.KIR { background-position: -138px -144px; }
.sp-flags21x14.LBR { background-position: -161px -144px; }
.sp-flags21x14.LTU { background-position: -184px -144px; }
.sp-flags21x14.MKD { background-position: -207px -144px; }
.sp-flags21x14.MDV { background-position: -230px -144px; }
.sp-flags21x14.MLI { background-position: -253px -144px; }
.sp-flags21x14.MLT { background-position: -276px -144px; }
.sp-flags21x14.MDA { background-position: -299px -144px; }
.sp-flags21x14.MOZ { background-position: -322px -144px; }
.sp-flags21x14.NAM { background-position: 0 -160px; }
.sp-flags21x14.NRU { background-position: -23px -160px; }
.sp-flags21x14.PLW { background-position: -46px -160px; }
.sp-flags21x14.PAN { background-position: -69px -160px; }
.sp-flags21x14.PER { background-position: -92px -160px; }
.sp-flags21x14.POL { background-position: -115px -160px; }
.sp-flags21x14.RWA { background-position: -138px -160px; }
.sp-flags21x14.SMR { background-position: -161px -160px; }
.sp-flags21x14.SEN { background-position: -184px -160px; }
.sp-flags21x14.SRB { background-position: -207px -160px; }
.sp-flags21x14.SLE { background-position: -230px -160px; }
.sp-flags21x14.SUR { background-position: -253px -160px; }
.sp-flags21x14.TJK { background-position: -276px -160px; }
.sp-flags21x14.MHL { background-position: -299px -160px; }
.sp-flags21x14.TTO { background-position: -322px -160px; }
.sp-flags21x14.TUR { background-position: 0 -176px; }
.sp-flags21x14.UGA { background-position: -23px -176px; }
.sp-flags21x14.UZB { background-position: -46px -176px; }
.sp-flags21x14.YEM { background-position: -69px -176px; }
.sp-flags21x14.ROU { background-position: -92px -176px; }
.sp-flags21x14.KNA { background-position: -115px -176px; }
.sp-flags21x14.LCA { background-position: -138px -176px; }
.sp-flags21x14.WSM { background-position: -161px -176px; }
.sp-flags21x14.SAU { background-position: -184px -176px; }
.sp-flags21x14.SYC { background-position: -207px -176px; }
.sp-flags21x14.SGP { background-position: -230px -176px; }
.sp-flags21x14.SVK { background-position: -253px -176px; }
.sp-flags21x14.SVN { background-position: -276px -176px; }
.sp-flags21x14.SLB { background-position: -299px -176px; }
.sp-flags21x14.ZAF { background-position: -322px -176px; }
.sp-flags21x14.LKA { background-position: 0 -192px; }
.sp-flags21x14.VCT { background-position: -23px -192px; }
.sp-flags21x14.ERI { background-position: -46px -192px; }
.sp-flags21x14.ISR { background-position: -69px -192px; }
.sp-flags21x14.QAT { background-position: -92px -192px; }
.sp-flags21x14.SDN { background-position: -115px -192px; }
.sp-flags21x14.CHE { background-position: -138px -192px; }
.sp-flags21x14.SYR { background-position: -161px -192px; }
.sp-flags21x14.GUM { background-position: -184px -192px; }
.sp-flags21x14.TGO { background-position: -207px -192px; }
.sp-flags21x14.TON { background-position: -230px -192px; }
.sp-flags21x14.TUN { background-position: -253px -192px; }
.sp-flags21x14.TKM { background-position: -276px -192px; }
.sp-flags21x14.TUV { background-position: -299px -192px; }
.sp-flags21x14.UKR { background-position: -322px -192px; }
.sp-flags21x14.COM { background-position: 0 -208px; }
.sp-flags21x14.ARE { background-position: -23px -208px; }
.sp-flags21x14.MEX { background-position: -46px -208px; }
.sp-flags21x14.TZA { background-position: -69px -208px; }
.sp-flags21x14.URY { background-position: -92px -208px; }
.sp-flags21x14.VUT { background-position: -115px -208px; }
.sp-flags21x14.VNM { background-position: -138px -208px; }
.sp-flags21x14.VGB { background-position: -161px -208px; }
.sp-flags21x14.VIR { background-position: -184px -208px; }
.sp-flags21x14.ZMB { background-position: -207px -208px; }
.sp-flags21x14.ZWE { background-position: -230px -208px; }
.sp-flags21x14.DZA { background-position: -253px -208px; }

.sp-flags30x20.USA { background-position: -32px 0; }
.sp-flags30x20.CHN { background-position: -64px 0; }
.sp-flags30x20.GBR { background-position: -96px 0; }
.sp-flags30x20.RUS { background-position: -128px 0; }
.sp-flags30x20.KOR { background-position: -160px 0; }
.sp-flags30x20.DEU { background-position: -192px 0; }
.sp-flags30x20.FRA { background-position: -224px 0; }
.sp-flags30x20.ITA { background-position: -256px 0; }
.sp-flags30x20.ASM { background-position: -288px 0; }
.sp-flags30x20.AGO { background-position: -320px 0; }
.sp-flags30x20.ATG { background-position: -352px 0; }
.sp-flags30x20.EGY { background-position: -384px 0; }
.sp-flags30x20.ARG { background-position: -416px 0; }
.sp-flags30x20.ABW { background-position: -448px 0; }
.sp-flags30x20.BHS { background-position: 0 -22px; }
.sp-flags30x20.BGD { background-position: -32px -22px; }
.sp-flags30x20.BRB { background-position: -64px -22px; }
.sp-flags30x20.BLZ { background-position: -96px -22px; }
.sp-flags30x20.BMU { background-position: -128px -22px; }
.sp-flags30x20.BTN { background-position: -160px -22px; }
.sp-flags30x20.VEN { background-position: -192px -22px; }
.sp-flags30x20.BIH { background-position: -224px -22px; }
.sp-flags30x20.BWA { background-position: -256px -22px; }
.sp-flags30x20.BHR { background-position: -288px -22px; }
.sp-flags30x20.BRN { background-position: -320px -22px; }
.sp-flags30x20.BGR { background-position: -352px -22px; }
.sp-flags30x20.BFA { background-position: -384px -22px; }
.sp-flags30x20.KHM { background-position: -416px -22px; }
.sp-flags30x20.CAN { background-position: -448px -22px; }
.sp-flags30x20.CYM { background-position: 0 -44px; }
.sp-flags30x20.CAF { background-position: -32px -44px; }
.sp-flags30x20.TCD { background-position: -64px -44px; }
.sp-flags30x20.CHL { background-position: -96px -44px; }
.sp-flags30x20.TPE { background-position: -128px -44px; }
.sp-flags30x20.AUS { background-position: -160px -44px; }
.sp-flags30x20.DMA { background-position: -192px -44px; }
.sp-flags30x20.COG { background-position: -224px -44px; }
.sp-flags30x20.COK { background-position: -256px -44px; }
.sp-flags30x20.GUY { background-position: -288px -44px; }
.sp-flags30x20.CRI { background-position: -320px -44px; }
.sp-flags30x20.HRV { background-position: -352px -44px; }
.sp-flags30x20.CZE { background-position: -384px -44px; }
.sp-flags30x20.PRK { background-position: -416px -44px; }
.sp-flags30x20.STP { background-position: -448px -44px; }
.sp-flags30x20.COD { background-position: 0 -66px; }
.sp-flags30x20.TLS { background-position: -32px -66px; }
.sp-flags30x20.DNK { background-position: -64px -66px; }
.sp-flags30x20.DOM { background-position: -96px -66px; }
.sp-flags30x20.SLV { background-position: -128px -66px; }
.sp-flags30x20.GNQ { background-position: -160px -66px; }
.sp-flags30x20.ETH { background-position: -192px -66px; }
.sp-flags30x20.SOM { background-position: -224px -66px; }
.sp-flags30x20.FSM { background-position: -256px -66px; }
.sp-flags30x20.BRA { background-position: -288px -66px; }
.sp-flags30x20.FJI { background-position: -320px -66px; }
.sp-flags30x20.GAB { background-position: -352px -66px; }
.sp-flags30x20.GMB { background-position: -384px -66px; }
.sp-flags30x20.GEO { background-position: -416px -66px; }
.sp-flags30x20.LUX { background-position: -448px -66px; }
.sp-flags30x20.GRC { background-position: 0 -88px; }
.sp-flags30x20.GRD { background-position: -32px -88px; }
.sp-flags30x20.GTM { background-position: -64px -88px; }
.sp-flags30x20.GIN { background-position: -96px -88px; }
.sp-flags30x20.GNB { background-position: -128px -88px; }
.sp-flags30x20.HTI { background-position: -160px -88px; }
.sp-flags30x20.JOR { background-position: -192px -88px; }
.sp-flags30x20.HND { background-position: -224px -88px; }
.sp-flags30x20.HKG { background-position: -256px -88px; }
.sp-flags30x20.HUN { background-position: -288px -88px; }
.sp-flags30x20.PNG { background-position: -320px -88px; }
.sp-flags30x20.IOA { background-position: -352px -88px; }
.sp-flags30x20.ROA { background-position: -352px -88px; }
.sp-flags30x20.ROT { background-position: -352px -88px; }
.sp-flags30x20.IDN { background-position: -384px -88px; }
.sp-flags30x20.IRL { background-position: -416px -88px; }
.sp-flags30x20.AFG { background-position: -448px -88px; }
.sp-flags30x20.IRN { background-position: 0 -110px; }
.sp-flags30x20.PAK { background-position: -32px -110px; }
.sp-flags30x20.JAM { background-position: -64px -110px; }
.sp-flags30x20.JPN { background-position: -96px -110px; }
.sp-flags30x20.BEL { background-position: -128px -110px; }
.sp-flags30x20.MAR { background-position: -160px -110px; }
.sp-flags30x20.NOR { background-position: -192px -110px; }
.sp-flags30x20.ESP { background-position: -224px -110px; }
.sp-flags30x20.SWZ { background-position: -256px -110px; }
.sp-flags30x20.SWE { background-position: -288px -110px; }
.sp-flags30x20.THA { background-position: -320px -110px; }
.sp-flags30x20.KOS { background-position: -352px -110px; }
.sp-flags30x20.KWT { background-position: -384px -110px; }
.sp-flags30x20.KGZ { background-position: -416px -110px; }
.sp-flags30x20.LAO { background-position: -448px -110px; }
.sp-flags30x20.LVA { background-position: 0 -132px; }
.sp-flags30x20.LBN { background-position: -32px -132px; }
.sp-flags30x20.LSO { background-position: -64px -132px; }
.sp-flags30x20.LBY { background-position: -96px -132px; }
.sp-flags30x20.MDG { background-position: -128px -132px; }
.sp-flags30x20.MWI { background-position: -160px -132px; }
.sp-flags30x20.MYS { background-position: -192px -132px; }
.sp-flags30x20.MRT { background-position: -224px -132px; }
.sp-flags30x20.MUS { background-position: -256px -132px; }
.sp-flags30x20.MCO { background-position: -288px -132px; }
.sp-flags30x20.MNG { background-position: -320px -132px; }
.sp-flags30x20.MNE { background-position: -352px -132px; }
.sp-flags30x20.MMR { background-position: -384px -132px; }
.sp-flags30x20.NPL { background-position: -416px -132px; }
.sp-flags30x20.NLD { background-position: -448px -132px; }
.sp-flags30x20.NZL { background-position: 0 -154px; }
.sp-flags30x20.NIC { background-position: -32px -154px; }
.sp-flags30x20.NER { background-position: -64px -154px; }
.sp-flags30x20.NGA { background-position: -96px -154px; }
.sp-flags30x20.OMN { background-position: -128px -154px; }
.sp-flags30x20.PSE { background-position: -160px -154px; }
.sp-flags30x20.PRY { background-position: -192px -154px; }
.sp-flags30x20.PHL { background-position: -224px -154px; }
.sp-flags30x20.BOL { background-position: -256px -154px; }
.sp-flags30x20.PRT { background-position: -288px -154px; }
.sp-flags30x20.AND { background-position: -320px -154px; }
.sp-flags30x20.LIE { background-position: -352px -154px; }
.sp-flags30x20.PRI { background-position: -384px -154px; }
.sp-flags30x20.ALB { background-position: -416px -154px; }
.sp-flags30x20.ARM { background-position: -448px -154px; }
.sp-flags30x20.AUT { background-position: 0 -176px; }
.sp-flags30x20.AZE { background-position: -32px -176px; }
.sp-flags30x20.BLR { background-position: -64px -176px; }
.sp-flags30x20.BEN { background-position: -96px -176px; }
.sp-flags30x20.BDI { background-position: -128px -176px; }
.sp-flags30x20.CPV { background-position: -160px -176px; }
.sp-flags30x20.CMR { background-position: -192px -176px; }
.sp-flags30x20.COL { background-position: -224px -176px; }
.sp-flags30x20.CIV { background-position: -256px -176px; }
.sp-flags30x20.CUB { background-position: -288px -176px; }
.sp-flags30x20.CYP { background-position: -320px -176px; }
.sp-flags30x20.DJI { background-position: -352px -176px; }
.sp-flags30x20.ECU { background-position: -384px -176px; }
.sp-flags30x20.EST { background-position: -416px -176px; }
.sp-flags30x20.FIN { background-position: -448px -176px; }
.sp-flags30x20.GHA { background-position: 0 -198px; }
.sp-flags30x20.ISL { background-position: -32px -198px; }
.sp-flags30x20.IND { background-position: -64px -198px; }
.sp-flags30x20.IRQ { background-position: -96px -198px; }
.sp-flags30x20.KAZ { background-position: -128px -198px; }
.sp-flags30x20.KEN { background-position: -160px -198px; }
.sp-flags30x20.KIR { background-position: -192px -198px; }
.sp-flags30x20.LBR { background-position: -224px -198px; }
.sp-flags30x20.LTU { background-position: -256px -198px; }
.sp-flags30x20.MKD { background-position: -288px -198px; }
.sp-flags30x20.MDV { background-position: -320px -198px; }
.sp-flags30x20.MLI { background-position: -352px -198px; }
.sp-flags30x20.MLT { background-position: -384px -198px; }
.sp-flags30x20.MDA { background-position: -416px -198px; }
.sp-flags30x20.MOZ { background-position: -448px -198px; }
.sp-flags30x20.NAM { background-position: 0 -220px; }
.sp-flags30x20.NRU { background-position: -32px -220px; }
.sp-flags30x20.PLW { background-position: -64px -220px; }
.sp-flags30x20.PAN { background-position: -96px -220px; }
.sp-flags30x20.PER { background-position: -128px -220px; }
.sp-flags30x20.POL { background-position: -160px -220px; }
.sp-flags30x20.RWA { background-position: -192px -220px; }
.sp-flags30x20.SMR { background-position: -224px -220px; }
.sp-flags30x20.SEN { background-position: -256px -220px; }
.sp-flags30x20.SRB { background-position: -288px -220px; }
.sp-flags30x20.SLE { background-position: -320px -220px; }
.sp-flags30x20.SUR { background-position: -352px -220px; }
.sp-flags30x20.TJK { background-position: -384px -220px; }
.sp-flags30x20.MHL { background-position: -416px -220px; }
.sp-flags30x20.TTO { background-position: -448px -220px; }
.sp-flags30x20.TUR { background-position: 0 -242px; }
.sp-flags30x20.UGA { background-position: -32px -242px; }
.sp-flags30x20.UZB { background-position: -64px -242px; }
.sp-flags30x20.YEM { background-position: -96px -242px; }
.sp-flags30x20.ROU { background-position: -128px -242px; }
.sp-flags30x20.KNA { background-position: -160px -242px; }
.sp-flags30x20.LCA { background-position: -192px -242px; }
.sp-flags30x20.WSM { background-position: -224px -242px; }
.sp-flags30x20.SAU { background-position: -256px -242px; }
.sp-flags30x20.SYC { background-position: -288px -242px; }
.sp-flags30x20.SGP { background-position: -320px -242px; }
.sp-flags30x20.SVK { background-position: -352px -242px; }
.sp-flags30x20.SVN { background-position: -384px -242px; }
.sp-flags30x20.SLB { background-position: -416px -242px; }
.sp-flags30x20.ZAF { background-position: -448px -242px; }
.sp-flags30x20.LKA { background-position: 0 -264px; }
.sp-flags30x20.VCT { background-position: -32px -264px; }
.sp-flags30x20.ERI { background-position: -64px -264px; }
.sp-flags30x20.ISR { background-position: -96px -264px; }
.sp-flags30x20.QAT { background-position: -128px -264px; }
.sp-flags30x20.SDN { background-position: -160px -264px; }
.sp-flags30x20.CHE { background-position: -192px -264px; }
.sp-flags30x20.SYR { background-position: -224px -264px; }
.sp-flags30x20.GUM { background-position: -256px -264px; }
.sp-flags30x20.TGO { background-position: -288px -264px; }
.sp-flags30x20.TON { background-position: -320px -264px; }
.sp-flags30x20.TUN { background-position: -352px -264px; }
.sp-flags30x20.TKM { background-position: -384px -264px; }
.sp-flags30x20.TUV { background-position: -416px -264px; }
.sp-flags30x20.UKR { background-position: -448px -264px; }
.sp-flags30x20.COM { background-position: 0 -286px; }
.sp-flags30x20.ARE { background-position: -32px -286px; }
.sp-flags30x20.MEX { background-position: -64px -286px; }
.sp-flags30x20.TZA { background-position: -96px -286px; }
.sp-flags30x20.URY { background-position: -128px -286px; }
.sp-flags30x20.VUT { background-position: -160px -286px; }
.sp-flags30x20.VNM { background-position: -192px -286px; }
.sp-flags30x20.VGB { background-position: -224px -286px; }
.sp-flags30x20.VIR { background-position: -256px -286px; }
.sp-flags30x20.ZMB { background-position: -288px -286px; }
.sp-flags30x20.ZWE { background-position: -320px -286px; }
.sp-flags30x20.DZA { background-position: -352px -286px; }
