.sw_ddbl,
.sw_ddbk,
.sw_ddw,
.sw_ddgy,
.sw_ddgn,
.sw_poi,
.sw_poia,
.sw_play,
.sw_playh,
.sw_playa,
.sw_playd,
.sw_playp,
.sw_st,
.sw_sth,
.sw_ste,
.sw_st2,
.sw_sth2,
.sw_plus,
.sw_minus,
.sw_tpcg,
.sw_tpcbl,
.sw_tpcw,
.sw_tpcbk,
.sw_arw,
.sw_arwh,
.sb_pagN,
.sb_pagP,
.sw_up,
.sw_down,
.b_expandToggle,
.sw_calc,
.sw_fbi,
.sw_twi,
.sw_fbarw,
.sw_fbtmb,
.sw_twr,
.sw_twrt,
.sw_twf,
.b_fLogo,
.b_cm,
.sw_rmore,
.sw_tpo,
.sw_tpoa,
.sw_tpoh,
.sw_lpoi,
.sw_skp {
    background-image: url(../img/sw_newhead2.png);
    background-repeat: no-repeat;
}

.sw_playp background-position: -315px -22px;
height: 16px;
width: .sw_playa -333px .sw_playd -351px -369px .sw_sth2 -535px -31px;
12px;
display: inline-block;
.sw_st2 -563px .sw_sth -577px -591px .sw_ste -549px .ccmc:hover .sw_arwh -463px -32px;
11px;
14px;
.ccmc:active -447px .sw_ddgn -266px 4px;
7px;
-256px .sw_tpcbk -176px 10px;
.sw_tpcg:hover,
.sw_tpcg:active,
.sw_tpcg:focus,
.sw_tpcbl -188px .sw_plus -276px 8px;
.sw_plus:hover,
.sw_plus:active,
.sw_plus:focus -286px .sw_minus -38px;
2px;
.sw_minus:hover,
.sw_minus:active,
.sw_minus:focus .sb_pagN -233px 0;
30px;
.sb_pagP:hover,
.sb_pagP:active,
.sb_pagP:focus -265px -169px .sb_pagN:hover,
.sb_pagN:active,
.sb_pagN:focus -201px .sw_down -228px .b_active .sw_up -200px :active>.b_active :hover>.sw_up,
 :active>.sw_up,
 :focus>.sw_up -214px :active>.b_expandToggle,
 :hover>.sw_down,
 :active>.sw_down,
 :focus>.sw_down -242px .b_icon,
.sw_poia 20px;
.sw_poi -297px color: #fff;
-319px .b_fLogo -402px 81px;
.b_cm -433px .sw_calc -363px 19px;
.sw_twf .sw_fbi .sw_twi -645px .sw_fbtmb -151px .sw_twr -571px -18px;
.sw_twr:hover,
.sw_twr:active,
.sw_twr:focus -587px .sw_twrt .sw_twrt:hover,
.sw_twrt:active,
.sw_twrt:focus -553px .sw_pipp:hover,
.sw_pipp:active,
.sw_pipp:focus -507px .sw_twf:hover,
.sw_twf:active,
.sw_twf:focus -521px .b_externalSearch input.b_searchboxSubmit -147px .sw_pil -405px padding-right: 1px !important;
vertical-align: middle;
.sw_pil:hover,
.sw_pil:active,
.sw_pil:focus -419px .sw_pifa .sw_pifa:hover,
.sw_pifa:active,
.sw_pifa:focus .sw_pit -461px .sw_pit:hover,
.sw_pit:active,
.sw_pit:focus -477px .sw_pipp -493px .sw_tpoa -131px -25px;
.exp_th .sw_tpoh -141px .exp_ta .sw_rmore -121px .sw_lpoi -633px .b_ad .b_vlist2col li padding-bottom: html,
body #b_results .b_no background-color: .b_footer #333;
100%;
line-height: 18px;
#b_results>li a #001ba0;
a:visited #600090;
margin: 0 padding: 10px #b_results>.b_ad #303030;
#f9fcf7;
border-right: 2px solid #e5e5e5;
#b_results>.b_pag transparent;
18px 40px a:hover #f4f4f4;
a.sb_pagP:hover,
a.sb_pagN:hover inherit;
#b_context .b_ans,
#wpc_ag #b_context>li.b_ad #555;
.ccmc #ccc;
#36b;
#b_tween .b_selected,
div.b_dropdown a.ftrH.b_selected:hover background: #e1e0df;
.b_toggle:hover,
.ftrH:hover #f2f2f2;
.b_scroll #999;
position: relative;
top: 5px;
border-color: .b_scroll:hover #4d4d4d;
.b_dropdown absolute;
z-index: 6;
#b_content .cbtn,
.cbtn input #eee;
#404040;
font-weight: 400;
#ddd;
.cbtn:hover,
input:hover .cbtn:focus,
.cbtn:active,
input:focus,
input:active .wr_tc #1020d0;
border: .cbtn:active .b_ans a.cbtn,
a.cbtn:visited #e7e7e7;
#d1d1d1;
a.cbtn:hover a.cbtn:focus,
a.cbtn:active #bbb;
.cbtn.b_highlighted,
.cbtn.b_highlighted .cbtn.b_highlighted:hover,
#0ff;
.cbtn.b_highlighted:focus,
.cbtn.b_highlighted:active,
#666;
.ctxt,
.ctxtb,
.csel,
.sic,
.ccal .ccali,
form.b_externalSearch form.b_externalSearch,
.b_searchboxSubmit #000;
a,
a:visited,
#sw_footL>li a#sb_feedback #sb_feedback:visited .b_expando cite,
cite.sb_crmb cite a.sb_metalink #009030;
.b_posText #390;
.b_negText #d90026;
.b_posText,
.b_negText,
.b_entityTitle,
.b_entityTitle #444;
.b_entitySubTitle,
.b_entitySubTitle #737373;
#b_context,
#wpc_eif,
.b_defaultText body,
.b_promoteText,
a.ftrH,
a.ftrH:hover,
.b_expando,
h2,
h3,
h4,
.b_defaultText,
a:hover,
.b_no,
a.cbl:visited,
a.cbl #b_results,
a.ftrH.b_selected,
a.ftrH.b_selected:hover,
.b_highlighted,
#hlcchcxmn label .b_alert,
.sb_alert,
.b_pAlt,
.b_pAlt .b_demoteText,
.b_secondaryText,
.b_attribution,
.b_factrow,
.b_focusLabel,
.b_footnote,
.b_adlabel,
.b_subModule,
.b_suppModule,
.b_algo .b_vList td span #777;
#sb_feedback #6cc1e9;
.b_lowFocusLink .b_nonselectable .b_pointer.b_mhdr:hover .b_secondaryText .b_button:hover,
.b_button:visited,
.b_hlButton,
.b_hlButton:hover,
.b_hlButton:visited,
.b_foregroundText,
.ciot .b_hlButton #0072c5;
.b_button:active,
.b_hlButton:active .b_hlButton:hover .b_border,
.b_button,
.b_pag 3px block;
min-width: 34px;
margin-right: text-align: center;
.sb_pagS #ededed;
.b_subModule border-bottom: #ebebeb;
.b_subModule:last-child,
.b_subModule:last-child margin-bottom: .c_tlbx,
.c_tlbxIS .sc_errorArea>.sc_error,
.sc_errorArea>.sc_error h1,
h3 .sc_errorArea font[color=red] #d90026!important;
h5,
h6,
p,
img,
ol,
ul,
li,
form,
table,
tr,
th,
td,
blockquote border-collapse: collapse;
border-spacing: list-style: none;
html overflow-y: scroll;
clear: both;
min-height: 344px;
13px 20px 100px;
#b_pole padding-left: 120px;
15px -100px;
560px;
.b_ad,
.b_card -20px;
#b_tween>span,
.b_hList>li,
.c_tlbxTrg,
.b_hPanel>span,
.b_footerRight,
.b_hPanel .b_xlText,
.cico,
.b_moreLink,
.b_label+.b_hList,
.lc_bks,
.lc_bkl,
.fiw,
.csrc,
.b_footnote .b_title H2,
div,
.b_pointer cursor: pointer;
label,
.c_tlbxTrgIcn font-size: margin-top: #b_tween>span 25px;
#b_results>.b_ans 17px #b_results>.b_algo 12px #b_results>li:first-child padding-top: #b_results>.si_pp,
.sb_hbop,
.b_hide,
.ttl,
#sw_tfbb,
.sw_next,
.sw_prev,
#id_d,
.b_hidden img visibility: hidden;
.b_inlineList .b_factrow inline;
.b_hList>li top;
.c_tlbxTrg 15px;
-1px 6px -3px 4px 3px;
.c_tlbx solid;
.b_deep ul 230px;
.b_gridList 250px;
ul:first-child,
ul:first-child .b_vlist2col.b_deep .b_overhangR 180px;
p 33px;
.b_expanderControl .sc_rf form.sc_rf,
.b_lBMargin .b_adlabel li:last-child .b_vlist2col,
-6px;
.sb_adRA .sx_ci 80px;
60px;
.b_favicon .5em .b_imagePair:after,
.b_vlist2col:after,
.b_gridList:after left;
.b_imagePair.reverse:after,
.b_overhangR:after right;
.b_clear,
#b_results>li:after,
.b_clearfix:after .b_clearfix:after,
.b_gridList:after,
content: '.';
.b_float,
.b_footer,
.b_float_img,
.b_mhdr h2 float: .b_floatR_img,
.b_floatR,
.b_overflow,
.b_hList .b_1linetrunc,
.b_imageOverlayWrapper overflow: .b_ansImage .b_creditedImg .cico 1px;
.sa_uc>.b_vList>li>table .b_smBottom,
.b_secondaryFocus,
.b_focusTextLarge,
.b_focusTextMedium,
.b_focusTextSmall,
.b_focusTextExtraSmall,
.b_snippet .b_vPanel .b_vPanel>div,
.b_dataList .b_mBottom .b_lBottom,
.b_caption,
.b_vList>li,
.b_prominentFocusLabel,
.ht_module,
.b_locStr,
.b_ans>.b_factrow:last-child #sp_requery .ht_module #b_results>.b_ad,
.b_suppModule .b_mhdr,
.b_vList>li>.tab-container,
.b_vPanel>div>.tab-container,
.b_float_img_nbp .b_caption .b_factrow:last-child,
.b_caption>.b_dataList:last-child li:last-child,
.b_moreLink:last-child,
.b_attribution:last-child,
.b_vList>li>table:last-child tr:last-child .b_vPanel>div>table:last-child .b_focusLabel:last-child,
.b_prominentFocusLabel:last-child,
.b_secondaryFocus:last-child,
.b_focusTextExtraSmall:last-child,
.b_focusTextSmall:last-child,
.b_focusTextMedium:last-child,
.b_focusTextLarge:last-child,
h4:last-child,
.b_caption:last-child,
.b_vList:last-child .b_footnote:last-child .b_vPanel,
-5px;
.b_vList,
-10px;
form.lc_bk,
.b_mBMargin,
.wpcbcc .b_iconSetOrphan 32px;
.b_imgSet li.square_m,
li.tall_m 75px;
li.square_m word-wrap: break-word;
.b_imagePair.square_m>.inner,
.b_hList.b_imgStrip>li:last-child,
.b_hList>li:last-child,
.b_hPanel>span:last-child,
td:last-child,
th:last-child .b_slyGridItem .b_secondaryFocus .b_imagePair.square_m.reverse 85px;
.b_imagePair.square_m.reverse>.inner -85px .b_imagePair.reverse>.inner .b_rich h2+.b_rich .b_attribution text-bottom;
.b_smLeft .b_lLeft,
.b_suffix,
.wr_tc,
.b_xlLeft,
.b_deep,
margin-left: .b_hList.b_imgStrip>li .b_smRight .b_mRight,
.b_label,
.csrc .b_lRight,
.b_imgStrip .imgData,
.b_underSearchbox .b_label .b_hPanel.wide>span,
.b_xlRight .b_twoColumn>div:first-child -30px;
150px;
-150px;
.wr_et -120px;
.b_tbl .b_scroll,
border-style: border-width: text-decoration: 50px;
a.cbtn 36px;
-webkit-appearance: border-radius: input::-moz-focus-inner .lc_bks a.sb_pagN,
a.sb_pagP .sw_next -15px .b_rTxt .b_cTxt .b_jTxt justify;
table .b_float_img th 5px .ctxtb #f2f8fc;
.ctxt.b_focusTextMedium,
.ctxtb.b_focusTextMedium 57px;
input.ctxt,
input.ctxtb,
input,
.b_favicon,
.ccali border-left: .ccalp 40px;
outline: .ctxt -104px -35px 8px .b_compactSearch 7px 520px;
173px;
.b_footerRight div 13px;
.b_1linetrunc text-overflow: ellipsis;
white-space: nowrap;
div.cico.b_capImg -20px .b_imageOverlay .ansP,
.ansPF .ansP .wpc_pin,
.wpc_pin select .rssmgrp .b_entityTP -9px;
.b_vmparent flex;
align-items: textarea,
h5 font: .b_alert 13px/normal Arial,
Helvetica,
Sans-Serif;
13px/1.2em 'Segoe UI',
h1 font-style: normal;
.sb_alert italic;
#b_content,
1.2em;
#vidans2 #sa_ul .nowrap .b_smText,
.b_imageOverlay,
font-family: .b_mText 16px/20px strong 12px/normal .b_focusTextExtraSmall 18px/1.2em 1.3em;
.b_xlText 24px/1.2em 14px/1.2em .b_focusTextLarge 200 32px/1.2em .b_focusTextMedium strong,
.b_strong,
.cbl 700;
.b_focusTextSmall .sb_count text-transform: uppercase;
.b_topbar .ftrB .b_algo:hover .sb_add:hover li:hover underline;
#b_results>li.b_ans.b_topborder #cdcdcd;
19px #b_results>.b_ad+.b_top .b_top .b_attribution+.b_rich,
.b_factrow+.b_rich .b_topTitle+.b_rich .b_tHeader,
.b_nonselectable,
#767676;
.b_mhdr:hover h2.b_topTitle 24px;
#b_results>.b_top .b_topTitle,
#111;
span.b_negText.b_focusTextExtraSmall span.b_posText.b_focusTextExtraSmall #390!important;
#b_results>.b_top:hover select,
.sic #bfdcf0;
select:hover,
.sic:hover .ctxt.b_outTextBox,
.ctxtb.b_outTextBox border-top: .ctxt.b_outTextBox:focus,
.ctxtb.b_outTextBox:focus .ctxt:hover,
.ctxtb:hover,
.ccal:hover .ctxt:focus,
.ctxtb:focus .ctxtb:focus,
 :-ms-input-placeholder #888;
#b_results>.b_ans::-moz-placeholder :-moz-placeholder #b_results>.b_ans::-webkit-input-placeholder input.b_highlighted input:hover,
input.b_highlighted:hover #005b9e;
input:active,
input.b_highlighted:focus,
input.b_highlighted:active #004476;
.fc_cal_holder .fc_cal_disabled a:link,
.fc_cal_disabled,
.fc_cal_days tr td:first-child a:active,
td.fc_cal_current a:active .fc_cal_monthHolder+.fc_cal_monthHolder .fc_cal_monthHolder 10em;
.fc_cal_current .fc_cal_monthDec.fc_cal_monthChange,
.fc_cal_monthInc.fc_cal_monthChange url(../img/navchevrons_topRefresh.png) -110px;
.fc_cal_monthDec.fc_cal_monthChange -44px;
.fc_cal_month_first .fc_cal_monthDec .fc_cal_month_last .fc_cal_monthInc 9px -10px -6px .b_ans:not(:first-child)>.b_entityTP -16px;
.b_ad:not(:last-child),
.b_ans:not(:last-child) .sw_meIc,
.sw_spd,
.sw_spr,
.sw_pref,
.b_logo,
.b_scopebarWindows,
.b_searchboxSubmit,
.idp_fb,
.idp_wlid,
.idp_tw,
.idp_ham:after url(https://www.bing.com/sa/simg/SharedSpriteDesktopTwoToneLogoTealSpy_0817.png);
left: -99px;
.b_scopebarWindows -575px .b_scopebarWindows:hover,
.b_scopebarWindows:active,
.b_scopebarWindows:focus -592px -97px 35px;
text-indent: -99em;
bottom;
static;
right: 9px;
.b_focus .b_searchboxForm -122px #ffb900;
.idp_tw -485px .sw_pref:hover,
.sw_pref:active,
.sw_pref:focus -503px .idp_fb -298px .idp_wlid -384px .img_rwds_sml #spcv .rigleamon .sw_meIc -557px .gleamon -627px .gleamoff -609px .sw_spd -341px #b_header 14px .b_searchbox 578px;
#hoverLimit 140px 748px;
.b_logo 28px;
direction: ltr;
-999px .b_logo:after none ::-webkit-search-decoration,
 ::-webkit-search-cancel-button,
a:after #b_header,
#id_h "Segoe UI",
.b_headBorder .b_poleContent 1025px;
.b_navbar,
1045px;
1150px;
.b_topbar,
.b_scopebar #de3700;
.b_scopebar,
600;
.b_navbar #sb_form,
.b_logoArea,
.b_searchboxForm,
.id_button,
.id_avatar,
.idp_ham,
inline-block .idp_ham #sb_form .b_searchbox.b_softkey 435px;
.b_searchboxForm:hover #a9a9a9;
#0078d7;
#b_header.b_focus .sa_as .sa_s .sa_tm #id_l,
#id_l:hover,
#id_l:focus,
#id_l:active,
#id_rh,
#id_rh:hover,
#id_rh:focus,
#id_rh:active,
.sw_pref:focus,
.sw_pref:active #id_l.id_button #id_rh .id_avatar #bepfo,
#id_scfo border-top-width: #id_d auto;
.id_button 17px;
-30px #id_p,
#id_a #id_f #id_l .sw_pref -81px -24px;
16px -101px 25px .sa_hd border-bottom-color: " ";
50%;
23px;
18px/normal box-shadow: rgba(0, 0, .1),
.16);
-3px;
.id_button:visited .id_button:hover,
.b_idOpen a#id_l,
a#bep.openfo,
a#id_rh.openfo #sw_as .sa_hv #f6f5f5;
#bepfo .wpc_bub 490px;
max-height: box-sizing: content-box;
.b_secondaryScope 39px;
.rwds_bep_head,
a.b_scopebarWindows -2px;
.b_logoArea 86px;
div.sa_tm .sa_sg -4px .rwds_bep_head 6px;
#bepfm,
#bepfl 372px;
#bepfm 50px 11px .ftrH .sa_hd,
.b_toggle,
.b_toggle:hover #sa_ul,
.pp_title 16px/normal UI Semibold', .b_navbar:after, .b_hList:after #langChange.langdisp visible; .cSwitchLang 152px; 600px; .cSwitchLang:hover linear-gradient(rgba(0, .55) @media all and (max-width:1124px) #langChange max-width: 400px; .perfFont #109aa1; .noselect -webkit-touch-callout: -webkit-user-select: -khtml-user-select: -moz-user-select: -ms-user-select: user-select: #perfAwareness fixed; -500px; bottom: 4; #perfCard #perfCardTable separate; default; opacity: .75; .showLeftBorder #dcdcdc; #perfCardLogo .85; #logoIcon 22px; #logoLabel #closeButton url(/fd/s/a/sw17.png) -17px #closeButton:hover -107px #perfWidget 90px; #perfWidgetIcon #perfWidgetText .alignHelper #perfWidget:hover #firstRunMsg .hLine 37px; .vLine .6); 500; pre; 100009; .skype_c2c_menu_container, span.skype_c2c_container li.pp_tile.sa_hv, #f5f5f5; .sa_tmHS, div.sa_tmHS #639; li.pp_tile .sa_drw ul.sa_hspn 29px; 31px; .b_hPanel>span.last_hPanel .sa_hd_first border-bottom-style: border-bottom-width: .b_vPanel>div li.pp_sTile .pp_tile.sa_hv .pp_title, .b_focusLabel .pp_imgHeight h4 .pp_desc .pp_vAlign>img .pp_vAlign>span .pp_imgPerXS, .pp_imgGenXS .pp_imgPerXS -42px; -1px; -81px; .pp_smallImgHeight .sa_sprite